*{
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0;
}

body{
    background-color: #f1f0f0 !important;
    /* font-family: 'Poppins', sans-serif; */
}

.link-no-underline {
    text-decoration: none !important;
  }
  

.text-color{
    color:#000;
}

.btn {
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #DCDCDC !important;
  }